 .u-section-1 {
  min-height: 501px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 502px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 227px;
  height: 227px;
  background-image: url("images/IMG_20201107_151153.jpeg?rand=03cb");
  background-position: 50% 50%;
  margin: 13px auto 0 31px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 300;
  margin: -222px 318px 0 368px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 19px 49px 0 368px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -19px auto 0 368px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 218px;
    margin-left: 268px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 268px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 108px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 18px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -223px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 836px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 25px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 531px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 472px;
  margin-top: 144px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 438px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-2 .u-image-2 {
    height: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 503px;
  }

  .u-section-2 .u-image-2 {
    height: 447px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 317px;
  }

  .u-section-2 .u-image-2 {
    height: 281px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 8.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 54px 76px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-3 .u-text-1 {
    font-size: 8.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 637px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 479px;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px 229px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0 366px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-bottom: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 807px;
}

.u-section-5 .u-custom-html-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 507px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-weight: 500;
  margin: 31px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 387px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 0;
}

.u-section-6 .u-text-4 {
  line-height: 2;
  font-weight: 500;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -116px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 27px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 30px;
  }
}