.u-section-1 .u-sheet-1 {
  min-height: 1342px;
}

.u-section-1 .u-text-1 {
  margin: 33px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-repeater-1 {
  min-height: 1225px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 471px 0 0;
}

.u-section-1 .u-text-3 {
  margin: -26px 0 0 825px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 0 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 471px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -26px 0 0 825px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 0 10px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 20px 471px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: -26px 0 0 825px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 0 10px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 20px 471px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: -26px 0 0 825px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -55px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -55px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -55px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 27px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -55px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 255px;
}

.u-section-2 .u-text-1 {
  margin: 32px 907px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 139px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 10px 456px 0 0;
}

.u-section-2 .u-text-3 {
  margin: -26px 0 0 825px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 10px 456px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -26px 0 0 825px;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 0 616px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 707px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 256px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 625px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 416px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 256px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 625px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 487px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 36px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 405px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 196px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 36px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 405px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 307px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 225px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 225px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 17px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -55px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 29px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -55px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 284px;
}

.u-section-3 .u-text-1 {
  margin: 32px 790px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 168px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 10px 212px 0 0;
}

.u-section-3 .u-text-3 {
  margin: -26px 0 0 966px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 10px 212px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: -26px 0 0 966px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 10px 212px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: -26px 0 0 966px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 10px 212px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: -26px 0 0 966px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 590px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 766px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 766px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 766px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 12px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 766px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 546px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 546px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 546px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 366px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 366px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 366px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 455px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin: -6px 166px -9px 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    margin: -6px 166px -9px 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    margin: -6px 166px -9px 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-9 {
    margin: -6px 166px -9px 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 333px;
}

.u-section-4 .u-text-1 {
  margin: 32px 790px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-4 .u-repeater-1 {
  min-height: 184px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 10px 0 0 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 10px 0 0 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 10px 0 0 10px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 10px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 590px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}