 .u-section-1 {
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 215px 30px 150px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
  margin: 142px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 215px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-weight: 500;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 90px;
  }

  .u-section-1 .u-line-1 {
    width: 105px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 80px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 861px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -451px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 813px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }
}